
@import 'variable.styl'
.report_item_wrapper
  box-sizing border-box
  margin 0 auto .4rem auto
  padding .5rem .2rem 0.5rem .2rem
  border 1px solid $blueBorder
  box-shadow 0px 2px 5px $blueBorder
  border-radius 0.08rem
  width 96%
  font-size 0.3rem
  .report_header
    margin-bottom .3rem
    display flex
    flex-flow row nowrap
    justify-content space-between
    align-items center
    font-size 0.3rem
    .item_title
      display flex
      flex-flow row nowrap
      align-items center
      .srart_end_time
        font-size .26rem
        margin .1rem 0 0 .1rem
      .iconfont
        color red
        font-size 0.6rem
        margin-right .08rem
      span
        font-size 0.36rem
      span:nth-child(2)
        font-weight bold
    .item_warn
      color $blueText
      display flex
      flex-flow row nowrap
      align-items center
      .iconfont
        font-size 0.3rem
      .num
        &.red
          color red
    .sleep
      display flex
      flex-flow column
      align-items center
      strong
        font-weight bold
        margin-bottom 0.2rem
      span
        margin-bottom -0.46rem
        &.normal
          color $blueText
        &.orange
          color $orangeText
        &.red
          color $redText
  .echarts_wrapper
    .draw_echarts
      display flex
      height 4rem
      .chart
        width 100%
        height 100%
    .chartTip
      font-size 0.28rem
      color #ccc
      text-align right
      margin 0 .1rem .1rem
    .parameter
      display flex
      flex-flow column
      .cal
        margin-top .3rem
        display flex
        flex-flow column nowrap
        justify-content center
        align-items center
        .value
          border .08rem solid #f39800
          border-radius 1rem
          width 1.52rem
          height 1.52rem
          display flex
          flex-flow row nowrap
          justify-content center
          align-items center
          &.red
            color $redText
          &.orange
            color $orangeText
          &.light-red
            color $lightRedText
          strong
            font-size 0.4rem
            font-weight bold
          i
            margin 0.14rem 0 0 0.02rem
            font-size 0.24rem
        .column
          border .08rem solid #f39800
          border-radius 1rem
          width 1.82rem
          height 1.82rem
          display flex
          flex-flow column nowrap
          justify-content center
          align-items center
          &.red
            color $redText
          &.orange
            color $orangeText
          strong
            font-size 0.4rem
            font-weight bold
          i
            margin 0.14rem 0 0 0.02rem
            font-size 0.24rem
        .title
          font-size 0.26rem
          color #707070
          margin-top .3rem
      ul
        margin-top .5rem
        display flex
        flex-flow row nowrap
        justify-content space-around
        justify-content space-around
        align-items center
        li
          display flex
          flex-flow column nowrap
          align-items center
          .value
            &.red
              color $redText
            &.orange
              color $orangeText
            &.light-red
              color $lightRedText
            // &.normal
            //   color $blueText
            strong
              font-size 0.4rem
              font-weight bold
            i
              margin 0.14rem 0 0 0.02rem
              font-size 0.24rem
          .title
            font-size 0.26rem
            color #707070
            margin-top .3rem
    .assessment
      .state
        display flex
        flex-flow row
        justify-content space-around
        align-items center
        margin .6rem 0
        .level
          display flex
          justify-content center
          align-items center
          margin-bottom .2rem
          height .7rem
          &.red
            color $redText
          &.orange
            color $orangeText
          &.light-red
            color $lightRedText
          strong
            font-size 0.6rem
          span
            margin .23rem 0 0 .06rem
            font-size 0.3rem
          .bloodpress
            font-size .4rem
        .tips
          display flex
          flex-flow column
          align-items center
          span
            display block
            margin-top .1rem
    .read
      .content
        position relative
        padding 0 0 .2rem 0
        line-height .55rem
        .mask
          display flex
          justify-content center
          align-items center
          position absolute
          bottom 0
          width 100%
          height .7rem
          &.hidden
            background rgba(255,255,255,.9)
          &.show
            background rgba(255,255,255,1)
          .iconfont
            margin-top .02rem
            display block
            font-size .48rem
            color #333
        h3
          margin-bottom .1rem
          font-size .3rem
          font-weight bold
        .article
          text-indent .6rem
          text-align justify
          color #707070
          &.hidden
            height 1.4rem
            overflow hidden
          &.show
            margin-bottom .7rem
            height auto
            overflow auto
    .part-top
      margin .6rem 0 .4rem
      .header
        display flex
        flex-flow row nowrap
        align-items center
        margin-bottom .2rem
        .iconfont
          margin 0 .1rem 0
          font-size 0.4rem
        h2
          font-size 0.36rem
      .steps
        margin .6rem 0
        display flex
        flex-flow column
        justify-content center
        text-align center
        .level
          margin-bottom .2rem
          display flex
          flex-flow column nowrap
          &.red,&.red .iconfont
            color $redText
          &.orange,&.orange .iconfont
            color $orangeText
          &.normal,&.normal .iconfont
            color $blueText
          div
            margin-bottom .2rem
            strong
              font-size 0.6rem
            span
              font-size 0.3rem
          .star
            display flex
            flex-flow row nowrap
            justify-content center
            align-item center
            .iconfont
              font-size .3rem
    .iconfont
      font-size 0.6rem
      color $redText
  .nodata
    text-indent 2em
    color #2b2b2b
    margin .2rem 0
    font-size.28rem