$grayText=#dddddd
$grayBorder=rgba(221,221,221,0.2)
$blueText=#3596ea
$blueBorder=rgba(53,150,234,0.2)
$orangeText=#f39800
$orangeBorder=rgba(243,152,0,0.2)
$lightRedText=#fe8b8b
$lightRedBorder=rgba(254,139,139,0.2)
$redText=#ea3535
$redBorder=rgba(234,53,53,0.2)
$purpleText=#9f35ea
$purpleBorder=rgba(159,53,234,0.2)